<div>
    <div ng-repeat="task in tasks | orderBy:sortType:sortReverse | filter:searchTask | limitTo:numberOfTasks">
        <a href={{task.href}} class="list-group-item" ng-click="setSelected($index);showModal(task)"> <i class="fa fa-{{task.icon}} fa-fw"></i> {{task.text}} <span class="pull-right text-muted small badge">{{task.time}}</span>
        </a>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
						<i class="fa fa-{{currentTask.icon}} fa-fw"></i>{{currentTask.text}}
					</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-condensed">
                        <tr>
                            <th>Description</th>
                            <th>User
                        </tr>
                        <tr>
                            <td>
                                <p>{{currentTask.text}}</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vulputate faucibus ex, a tincidunt augue pulvinar in. Sed pretium vehicula massa nec fermentum. Nullam vehicula fermentum erat, vitae mattis elit hendrerit quis. Aenean placerat, ex id tincidunt mollis, dolor libero iaculis risus, et tincidunt libero odio at felis. Donec tincidunt a nulla vitae vulputate. Pellentesque eget tempor quam. Vivamus eu dignissim metus. Vestibulum in metus elit. Ut dignissim orci in metus tempor imperdiet. Morbi vitae facilisis risus. Quisque condimentum, dui eu auctor feugiat, sapien elit bibendum nisl, a suscipit quam velit eget arcu. Suspendisse luctus auctor purus vel consectetur.</p>
                            </td>
                            <td>
                                <p>John Smith</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
