<div class="panel panel-default">
	<div class="panel-body">
		<div class="dataTable_wrapper">
			<div class="form-group col-lg-1">
				<label>Search:</label>
			</div>
			<div class="form-group col-lg-2">
				<input class="form-control" ng-model="search">
			</div>

			<div class="col-lg-7"></div>
			<div class="col-lg-2">
				<button id="button" class="btn btn-default">Create User</button>
				<button id="button" class="btn btn-default">Delete Selected</button>
			</div>


			<table class="table table-striped table-bordered table-hover"
				id="tableUsers">
				<thead>
					<tr>
						<th><input type="checkbox" ></th>
						<th ng-repeat='head in tableHeads' width="16.66%"><a
							href="#/dashboard/users" ng-click="orderBy(head.name)">{{head.label}}
								<span ng-show="orderByField == head.name"> <span
									ng-show="!reverseSort"><i class="fa fa-sort-asc"></i></span> <span
									ng-show="reverseSort"><i class="fa fa-sort-desc"></i></span>
							</span>
						</a></th>

					</tr>
				</thead>
				<tbody>
					<tr
						ng-repeat="user in users | filter:search | orderBy:orderByField:reverseSort">
						<td><input type="checkbox" name="check" value="user.id"></td>
						<td>{{user.id}}</td>
						<td>{{user.firstName}}</td>
						<td>{{user.surname}}</td>
						<td>{{user.organisation}}</td>
						<td>{{user.assigned}}</td>
						<td>{{user.done}}</td>


					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>