<div class="panel panel-default">
    <div class="panel-body">
        <div class="dataTable_wrapper">
            <div class="form-group col-lg-1">
                <label style="margin-top: 0.5em;">Search:</label>
            </div>
            <div class="form-group col-lg-2">
                <input class="form-control" ng-model="search">
            </div>
            <div class="col-lg-5 pull-right text-right ">
                <button id="button" class="btn btn-default" data-toggle="modal" data-target="#createTask">Create Task</button>
                <button id="button" ng-click="delete()" class="btn btn-default">Delete Task</button>
            </div>
            <table class="table table-striped table-bordered table-hover" id="tableUsers">
                <thead>
                    <tr>
                        <th class="text-center" width="2 em">
                            <input id="checkAll" ng-model="checkAll" ng-change="checkedTask(checkAll, task.id, true)" type="checkbox">
                        </th>
                        <th><a href="#/dashboard/tasks1" ng-click="orderBy('name')">Tasks
                                <span ng-show="orderByField == 'name'"> <span
                                    ng-show="!reverseSort"><i class="fa fa-sort-asc"></i></span> <span
                                    ng-show="reverseSort"><i class="fa fa-sort-desc"></i></span>
                            </span>
                        </a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="task in tasks | filter:search | orderBy:orderByField:reverseSort">
                        <td class="text-center">
                            <input ng-model="checkStateBox.check" ng-change="checkedTask(checkStateBox, task.id,false)" type="checkbox">
                        </td>
                        <td style="cursor: pointer;" ng-click="selectTask(task)" data-toggle="modal" data-target="#viewTask">{{task.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="viewTask" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 id="task" class="text-center"><h3 style="color: #E20074;">{{selectedTask.name}}</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-0.5">
                            <p class="text-justify">{{selectedTask.description}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <p>
                            <ul>
                                <li ng-repeat="detail in selectedTask.details">{{detail.desc}}</li>
                            </ul>
                        </p>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-lg-2">
                            <h4>User:</h4></div>
                        <div class="col-lg-4">
                            <select class="form-control">
                                <option ng-repeat="user in users">{{user.firstName}} {{user.surname}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <h4>Time:</h4></div>
                        <div class="col-lg-4">
                            <input class="form-control" type="date">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="button" class="btn pull-right btn btn-default" data-dismiss="modal">Close</button>
                    <button id="button" class="btn pull-center btn btn-default" ng-click="assignTask(task)">Assign</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="createTask" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 style="color: #E20074;" id="task" class="text-center">Create task</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-2">
                            <h4>Name:</h4></div>
                        <div class="col-lg-8">
                            <input type="text" ng-model="newTask.name"  class="form-control" id="ex3"></input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <h4>Description:</h4></div>
                        <div class="col-lg-8">
                            <!-- <input type="text" ng-model="newTask.description"> -->
                             <textarea class="form-control" rows="5" ng-model="newTask.description" id="comment"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="button" class="btn pull-right btn btn-default" data-dismiss="modal">Close</button>
                    <button id="button" class="btn pull-center btn btn-default" ng-click="addTask(newTask)">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>
